parameters:
    bootstrapFiles:
        - config/paths.php
    level: 7
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src/
